<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.match.scplaymatch.dto.Test" alias="test"/>
		<typeAlias type="com.match.scplaymatch.dto.Team" alias="team"/>
		<typeAlias type="com.match.scplaymatch.dto.Member" alias="member"/> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/test.xml" />
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/team.xml" />
	</mappers>
</configuration>